
body {
	margin: 0;
	padding: 0;
	background-color: #e8f0e7;
}

p {
	font-size: 18px;
}

h1 {
	font-size: 80px;
	color: #427abd;
	font-weight: 200;
	margin-bottom: 0px;
}

h2 {
	font-size: 30px;
	color: #427abd;
	margin-bottom: -5px;
	font-weight: 200;
}

h3 {
	font-size: 40px;
	margin-bottom: -20px;
}

a {
	font-size: 20px;
}

a:hover {
	transition: 0.3s;
	color: rgba(171, 105, 105, 0.838);
}








/*////////////////////// Navbar //////////////////////*/
nav {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-left: 20px;
	font-size: 30px;
	font-weight: 400px;
}

.menu_computer {
	display: flex;
	float: right;

}

.menu_computer a {
	margin-right: 20px;
}

.open_menu {
	display: none;
}

.menu_phone_open {
	width: 100%;
	height: 100vh;
	background-color: rgba(65, 162, 159, 0.865);
	position: fixed;
	z-index: 10;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.x {
	position: absolute;
	font-size: 70px;
	top: -80px;
	right: 20px;
	color: white;
	transform: rotate(45deg);
	cursor: pointer;
}

.menu_close:hover {
	color: rgba(171, 105, 105, 0.838);
}

.menu_phone_open a {
	margin-bottom: 30px;
	color: white;
	transition: 0.3s;
	font-size: 30px;
	letter-spacing: 2px;
}

.menu_phone_open a:hover {
	color: rgba(171, 105, 105, 0.838);
}











/*/////////////////// Présentation ///////////////////////*/

.presentation-container {
	height: 100vh;
	width: 100%;
	min-height: 650px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo {
	width: 300px;
	border-radius: 20px;
}

.presentation {
	width: 600px;
	margin-left: 20px;
	line-height: 10px;
}

.presentation span {
	letter-spacing: 4px;
	color: #427abd;
}

.presentation div {
	display: flex;
}

.presentation div a {
	display: flex;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}

.presentation_button {
	border: 1px #427abd solid;
	border-radius: 20px;
	padding: 8px;
	padding-right: 12px;
	padding-left: 12px;
	transition: 0.3s;
	margin-top: 0px;
	margin-right: 20px;
}

.presentation_button:hover {
	background-color: #427abd;
	color: white;
	transition: 0.3s;
}

.voir_plus {
	position: absolute;
	bottom: 10px;
}

.voir_plus img {
	width: 60px;
	transform: rotate(270deg);
	transition: 0.3s;
}

.voir_plus img:hover {
	width: 70px;
}









/*/////////////////// Parcours ///////////////////////*/

#parcours {
	padding-top: 150px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 850px;
	display: flex;
	align-items: center;
}

.img_parcours {
	border-radius: 15px;
	margin-left: 50px;
	width: 250px;
}









/*/////////////////// Réalisations ///////////////////////*/

#realisations {
	padding-top: 100px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	height: 400px;
	display: flex;
	justify-content: space-between;
}

.img_ciobanasu {
	width: 300px;
	border: 1px black solid;
	border-radius: 15px;
	position: absolute;
	z-index: 1;
	transition: 0.3s;
}

.img_casia {
	width: 300px;
	border: 1px black solid;
	border-radius: 15px;
	position: absolute;
	margin-top: 100px;
	margin-left: 90px;
	z-index: 2;
	transition: 0.3s;
}

.img_ciobanasu:hover, .img_casia:hover {
	width: 350px;
	transition: 0.3s;
	z-index: 3;
}

.texte_realisations {
	float: right;
}









/*/////////////////// Connaissances ///////////////////////*/
#connaissances {
	width: 850px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
}

#connaissances h3 {
	text-align: center;
}

.connaissances {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.connaissances section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.connaissances div {
	text-align: center;
	line-height: 0px;
}

.connaissances div progress {
	width: 50px;
}

.connaissances img {
	height: 50px;
}









/*/////////////////// Langues/Intérêts ///////////////////////*/
#langues_interets{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
}

.interets img {
	margin-right: 10px;
}

.meditation_img {
	width: 30px;
}









/*/////////////////// Contact ///////////////////////*/
#contact {
	padding-top: 100px;
}

.h3_contact {
	text-align: center;
}

.contact {
	width: 430px;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}

.contact a {
	color: white;
}

.mail {
	background-color: rgba(105, 111, 171, 0.838);
	border: 2px rgba(105, 111, 171, 0.838) solid;
    border-radius: 20px;
    padding: 20px;
    padding-top: 0px;
	padding-bottom: 0px;
	transition: 0.3s;
}

.tel {
	background-color: rgba(171, 105, 105, 0.838);
	border: 2px rgba(171, 105, 105, 0.838) solid;
    margin-left: 20px;
    border-radius: 20px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
	transition: 0.3s;
}









/*/////////////////// Footer ///////////////////////*/
footer {
	width: 100%;
	position: absolute;
	z-index: -2;
	background-image: linear-gradient(transparent, #b8c6b5);
}

footer .liens {
	width: 260px;
	position: static;
	margin-top: 100px;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.img_github {
	height: 38px;
	transition: 0.3s;
}

.img_linkedIn {
	height: 30px;
	transition: 0.3s;
}
































/* ----------------------------------------------------- */

					/* TABLETTE */

/* ----------------------------------------------------- */



@media screen and (max-width: 1020px) {

	h1 {
		font-size: 60px;
		margin-bottom: 10px;
	}








	/*////////////////////// Navbar //////////////////////*/
	.menu_computer {
		display: none;
	}

	.open_menu {
		width: 40px;
		height: 30px;
		margin-right: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
	}

	.open_menu div {
		border: 3px #427abd solid;
	}








	/*/////////////////// Présentation ///////////////////////*/
	.presentation-container {
		text-align: center;
		flex-direction: column;
		min-height: 935px;
	}

	.photo {
		width: 220px;
	}

	.presentation div {
		justify-content: center;
		padding: 15px;
	}

	.presentation span {
		font-size: 12px;
	}

	.presentation_button:hover {
		background-color: #e8f0e7;
		color: #427abd;
	}

	.voir_plus img:hover {
		width: 60px;
	}









	/*/////////////////// Parcours ///////////////////////*/

	#parcours {
		text-align: center;
		width: 94%;
		display: flex;
		flex-direction: column;
	}

	.img_parcours {
		margin-left: 0px;
	}









	/*/////////////////// Réalisations ///////////////////////*/

	#realisations {
		width: 94%;
		flex-direction: column-reverse;
	}

	.realisations_img {
		text-align: center;
	}

	.img_ciobanasu {
		position: static;
		width: auto;
		height: 150px;
	}

	.img_casia {
		position: static;
		margin-top: 0px;
		margin-left: 20px;
		z-index: 1;
		width: auto;
		height: 150px;
	}

	.img_ciobanasu:hover, .img_casia:hover {
		width: auto;
		transition: 0.3s;
		z-index: 1;
	}

	.texte_realisations {
		float: none;
		text-align: center;
	}









	/*/////////////////// Connaissances ///////////////////////*/
	#connaissances {
		width: 94%;
	}

	.connaissances div progress {
		width: 50px;
	}

	





}






























/* ----------------------------------------------------- */

					/* MOBILE */

/* ----------------------------------------------------- */
@media screen and (max-width: 500px) {

	p {
		font-size: 12px;
	}

	a {
		font-size: 14px;
	}

	.br {
		display: none;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 30px;
	}


	








	/*////////////////////// Navbar //////////////////////*/

	.logo {
		margin-left: 20px;
		font-size: 20px;
	}

	.open_menu {
		display: flex;
		width: 30px;
		height: 20px;
	}

	.open_menu div {
		border: 2px #427abd solid;
	}

	.menu_phone_open a {
		font-size: 20px;
	}












	/*/////////////////// Présentation ///////////////////////*/

	.presentation-container {
		min-height: 100vh;
	}

	.photo {
		width: 150px;
	}

	.presentation {
		width: 94%;
		margin-left: auto;
		margin-right: auto;
		line-height: 10px;
	}

	.presentation span {
		font-size: 10px;
	}

	.presentation div {
		display: flex;
		justify-content: space-between;
		padding-right: 10px;
		padding-left: 10px;
	}

	.presentation div a {
		font-size: 12px;
	}

	.buttons_presentation {
		width: 300px;
		margin-right: auto;
		margin-left: auto;
	}

	.presentation_button {
		padding-right: 12px;
		padding-left: 12px;
		margin-right: 0;
	}

	.voir_plus img {
		width: 30px;
	}

	.voir_plus img:hover {
		width: 30px;
	}









	/*/////////////////// Parcours ///////////////////////*/

	#parcours {
		padding-top: 60px;
	}









	/*/////////////////// Réalisations ///////////////////////*/
	#realisations {
		height: auto;
		margin-top: 0;
		padding-top: 50px;
	}

	.img_ciobanasu {
		width: 94%;
		height: auto;
	}

	.img_casia {
		width: 94%;
		height: auto;
		margin-left: 0;
		margin-top: 20px;
	}
	







	/*/////////////////// Connaissances ///////////////////////*/

	#connaissances {
		margin-top: 0;
		padding-top: 50px;
	}

	#connaissances h3 {
		text-align: center;
	}

	.connaissances {
		flex-direction: row;
		margin-top: 40px;
	}

	.connaissances section {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 94%;
	}









	/*/////////////////// Langues/Intérêts ///////////////////////*/
	#langues_interets {
		width: 94%;
		flex-direction: column;
		text-align: center;
		padding-top: 50px;
	}









	/*/////////////////// Contact ///////////////////////*/

	#contact {
		padding-top: 50px;
	}

	.contact {
		width: 94%;
	}

	.mail {
		padding: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.tel {
		padding: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
	}









	/*/////////////////// Footer ///////////////////////*/
	footer {
		height: 100px;
	}

	footer .liens {
		width: 200px;
		margin-top: 30px;
		margin-bottom: 0px;
	}

	.img_github {
		height: 28px;
	}

	.img_linkedIn {
		height: 22px;
	}








	
}




@media screen and (max-width: 350px) {
	.photo {
		display: none;
	}
}























